html,
body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

// -------------------------------------------------------
// Layouts
// -------------------------------------------------------

// Responsive layout resolutions
@import "responsive-resolutions";

// -------------------------------------------------------
// Modals
// -------------------------------------------------------

// One
@import "components/modal-one";

// -------------------------------------------------------
// Cards
// -------------------------------------------------------

// One
@import "components/card-one-section";

// -------------------------------------------------------
// Galleries
// -------------------------------------------------------

// One
@import "components/gallery-one-section";