html,
body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

// -------------------------------------------------------
// Layouts
// -------------------------------------------------------

// Responsive layout resolutions
@import "responsive-resolutions";

// -------------------------------------------------------
// Theme Toggler
// -------------------------------------------------------

// One
@import "components/_theme-toggler";

// Two
@import "components/_theme-toggler-two";

// -------------------------------------------------------
// Modals
// -------------------------------------------------------

// One
@import "components/modal-one";

// -------------------------------------------------------
// Cards
// -------------------------------------------------------

// One
@import "components/card-one-section";

// -------------------------------------------------------
// Galleries
// -------------------------------------------------------

// One
@import "components/gallery-one-section";

// Two
@import "components/gallery-two-section";

// -------------------------------------------------------
// Sliders
// -------------------------------------------------------

// One
@import "components/_slider-within-slider";

// -------------------------------------------------------
// portfilio Widgets
// -------------------------------------------------------

// Hover
@import "components/_portfolio-widget-hover";

// Click - v2
@import "components/_portfolio-widget-click-v2";

// Click - v3
@import "components/_portfolio-widget-click-v3";

// Click - v4
@import "components/_portfolio-widget-click-v4";
