{% include 'components/common/header.njk' %}

<!-- Gallery One Section Start -->
<section class="gallery-section">
    <h1>Gallery</h1>
    <div class="gallery">
        <!-- Gallery Image Card Start -->
        <a href="#" class="gallery__card">
            <img class="gallery__card__image" src="/assets/images/gallery-one/img-one.jpg" alt="gallery-img-one" />
            <h3 class="gallery__card__title gallery__card__title--text-white">Image One</h3>
            <p class="gallery__card__description gallery__card__description--text-white">
                Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci
                porta dapibus. Nulla porttitor accumsan tincidunt.
            </p>
        </a>
        <!-- Gallery Image Card End -->

        <!-- Gallery Image Card Start -->
        <a href="#" class="gallery__card">
            <img class="gallery__card__image" src="/assets/images/gallery-one/img-two.jpg" alt="gallery-img-one" />
            <h3 class="gallery__card__title gallery__card__title--text-white">Image Two</h3>
            <p class="gallery__card__description gallery__card__description--text-white">
                Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci
                porta dapibus. Nulla porttitor accumsan tincidunt.
            </p>
        </a>
        <!-- Gallery Image Card End -->

        <!-- Gallery Image Card Start -->
        <a href="#" class="gallery__card">
            <img class="gallery__card__image" src="/assets/images/gallery-one/img-three.jpg" alt="gallery-img-one" />
            <h3 class="gallery__card__title gallery__card__title--text-white">Image Three</h3>
            <p class="gallery__card__description gallery__card__description--text-white">
                Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci
                porta dapibus. Nulla porttitor accumsan tincidunt.
            </p>
        </a>
        <!-- Gallery Image Card End -->

        <!-- Gallery Image Card Start -->
        <a href="#" class="gallery__card">
            <img class="gallery__card__image" src="/assets/images/gallery-one/img-four.jpg" alt="gallery-img-one" />
            <h3 class="gallery__card__title gallery__card__title--text-white">Image Four</h3>
            <p class="gallery__card__description gallery__card__description--text-white">
                Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci
                porta dapibus. Nulla porttitor accumsan tincidunt.
            </p>
        </a>
        <!-- Gallery Image Card End -->

        <!-- Gallery Image Card Start -->
        <a href="#" class="gallery__card">
            <img class="gallery__card__image" src="/assets/images/gallery-one/img-five.jpg" alt="gallery-img-one" />
            <h3 class="gallery__card__title gallery__card__title--text-white">Image Five</h3>
            <p class="gallery__card__description gallery__card__description--text-white">
                Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci
                porta dapibus. Nulla porttitor accumsan tincidunt.
            </p>
        </a>
        <!-- Gallery Image Card End -->

        <!-- Gallery Image Card Start -->
        <a href="#" class="gallery__card">
            <img class="gallery__card__image" src="/assets/images/gallery-one/img-six.jpg" alt="gallery-img-one" />
            <h3 class="gallery__card__title gallery__card__title--text-white">Image Six</h3>
            <p class="gallery__card__description gallery__card__description--text-white">
                Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci
                porta dapibus. Nulla porttitor accumsan tincidunt.
            </p>
        </a>
        <!-- Gallery Image Card End -->
    </div>
</section>
<!-- Gallery One Section End -->

{% include 'components/common/footer.njk' %}