{% include 'components/common/header.njk' %}

<!-- Gallery Two Section Start -->
<section class="gallery-two-section">
    <div class="gallery-two-section__header">
        <div class="gallery-two-section__header__title">
            <div class="gallery-two-section__header__title__left-vis"></div>
            <div class="gallery-two-section__header__title__content">
                <h2>Gallery Two Section</h2>
            </div>
            <div class="gallery-two-section__header__title__right-vis"></div>
        </div>
        <div class="gallery-two-section__header__sub-title">
            <p>
                Donec sollicitudin molestie malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
            </p>
        </div>
    </div>
    <div class="gallery-two-section__content">
        <div class="gallery-two-section__filter">
            <ul class="gallery-two-section__list">
                <li class="gallery-two-section__list__item">Mountains</li>
                <li class="gallery-two-section__list__item">Planets</li>
                <li class="gallery-two-section__list__item">Plants</li>
                <li class="gallery-two-section__list__item">Waterfalls</li>
            </ul>
        </div>
        <div class="gallery-two-section__images-grid">
            <a href="#" class="gallery-two-section__images-grid__item" data-id="1" data-title="Moutain One"
                data-filters="Mountains">
                <img src="" alt="Mountain One">
                <h3 class="gallery-two-section__images-grid__item__title">
                    Moutain One
                </h3>
                <p class="gallery-two-section__images-grid__item__description">
                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id
                    orci porta dapibus. Nulla porttitor accumsan tincidunt.
                </p>
            </a>
            <a href="#" class="gallery-two-section__images-grid__item" data-id="2" data-title="Moutain Two"
                data-filters="Mountains">
                <img src="" alt="Mountain Two">
                <h3 class="gallery-two-section__images-grid__item__title">
                    Moutain Two
                </h3>
                <p class="gallery-two-section__images-grid__item__description">
                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id
                    orci porta dapibus. Nulla porttitor accumsan tincidunt.
                </p>
            </a>
            <a href="#" class="gallery-two-section__images-grid__item" data-id="3" data-title="Planets One"
                data-filters="Planets">
                <img src="" alt="Planets One">
                <h3 class="gallery-two-section__images-grid__item__title">
                    Planets One
                </h3>
                <p class="gallery-two-section__images-grid__item__description">
                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id
                    orci porta dapibus. Nulla porttitor accumsan tincidunt.
                </p>
            </a>
            <a href="#" class="gallery-two-section__images-grid__item" data-id="4" data-title="Planets Two"
                data-filters="Planets">
                <img src="" alt="Planets One">
                <h3 class="gallery-two-section__images-grid__item__title">
                    Planets Two
                </h3>
                <p class="gallery-two-section__images-grid__item__description">
                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id
                    orci porta dapibus. Nulla porttitor accumsan tincidunt.
                </p>
            </a>
            <a href="#" class="gallery-two-section__images-grid__item" data-id="5" data-title="Plants One"
                data-filters="Plants">
                <img src="" alt="Plants One">
                <h3 class="gallery-two-section__images-grid__item__title">
                    Plants One
                </h3>
                <p class="gallery-two-section__images-grid__item__description">
                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id
                    orci porta dapibus. Nulla porttitor accumsan tincidunt.
                </p>
            </a>
            <a href="#" class="gallery-two-section__images-grid__item" data-id="6" data-title="Plants Two"
                data-filters="Plants">
                <img src="" alt="Plants One">
                <h3 class="gallery-two-section__images-grid__item__title">
                    Plants Two
                </h3>
                <p class="gallery-two-section__images-grid__item__description">
                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id
                    orci porta dapibus. Nulla porttitor accumsan tincidunt.
                </p>
            </a>
            <a href="#" class="gallery-two-section__images-grid__item" data-id="7" data-title="Waterfalls One"
                data-filters="Waterfalls">
                <img src="" alt="Waterfalls One">
                <h3 class="gallery-two-section__images-grid__item__title">
                    Waterfalls One
                </h3>
                <p class="gallery-two-section__images-grid__item__description">
                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id
                    orci porta dapibus. Nulla porttitor accumsan tincidunt.
                </p>
            </a>
            <a href="#" class="gallery-two-section__images-grid__item" data-id="8" data-title="Waterfalls Two"
                data-filters="Waterfalls">
                <img src="" alt="Waterfalls Two">
                <h3 class="gallery-two-section__images-grid__item__title">
                    Waterfalls Two
                </h3>
                <p class="gallery-two-section__images-grid__item__description">
                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id
                    orci porta dapibus. Nulla porttitor accumsan tincidunt.
                </p>
            </a>
        </div>
    </div>
</section>
<!-- Gallery Two Section End -->

{% include 'components/common/footer.njk' %}