{% include 'components/common/header.njk' %}

<br>
<br>

<!-- Gallery Two Section Start -->
<div class="codeminers-v2-portfolio-widget-hover">
    <div class="codeminers-v2-portfolio-widget-hover__grid-container">
        <div class="codeminers-v2-portfolio-widget-hover__grid-item">
            <div class="codeminers-v2-portfolio-widget-hover__flip-card">
                <div class="codeminers-v2-portfolio-widget-hover__flip-card__container">
                    <div class="codeminers-v2-portfolio-widget-hover__flip-card__front">
                        <img src="/assets/images/portfolio-widget/pfa-site-rebrand.jpg" alt="image-one">
                        <div class="codeminers-v2-portfolio-widget-hover__flip-card__front__content">
                            <div class="codeminers-v2-portfolio-widget-hover__flip-card__front__content__title">
                                <h2>Project / Client</h2>
                            </div>
                        </div>
                    </div>
                    <div class="codeminers-v2-portfolio-widget-hover__flip-card__back">
                        <div class="codeminers-v2-portfolio-widget-hover__flip-card__back__content">
                            <div class="codeminers-v2-portfolio-widget-hover__flip-card__back__content__title">
                                <h3>Project Title</h3>
                            </div>
                            <div class="codeminers-v2-portfolio-widget-hover__flip-card__back__content__description">
                                <p>
                                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus
                                    suscipit tortor eget felis porttitor volutpat.
                                </p>
                            </div>
                            <div class="codeminers-v2-portfolio-widget-hover__flip-card__back__content__button">
                                <button>Go To Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery Two Section End -->

{% include 'components/common/footer.njk' %}