{% include 'components/common/header.njk' %}

<br>
<br>

<!-- Gallery Two Section Start -->
<div class="codeminers-v2-portfolio-widget">
    <div class="codeminers-v2-portfolio-widget__grid-container">
        <div class="codeminers-v2-portfolio-widget__grid-item">
            <div class="codeminers-v2-portfolio-widget__flip-card">
                <div class="codeminers-v2-portfolio-widget__flip-card__container">
                    <div class="codeminers-v2-portfolio-widget__flip-card__front">
                        <img src="/assets/images/portfolio-widget/pfa-site-rebrand.jpg" alt="image-one">
                        <div class="codeminers-v2-portfolio-widget__flip-card__front__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__front__content__title">
                                <h2>PFA - Rebrand</h2>
                            </div>
                        </div>
                    </div>
                    <div class="codeminers-v2-portfolio-widget__flip-card__back">
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__close-overlay">
                            
                        </div>
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__title">
                                <h3>PFA Website Rebrand</h3>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__description">
                                <p>
                                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus
                                    suscipit tortor eget felis porttitor volutpat.
                                </p>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__button">
                                <button>Checkout Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="codeminers-v2-portfolio-widget__grid-item">
            <div class="codeminers-v2-portfolio-widget__flip-card">
                <div class="codeminers-v2-portfolio-widget__flip-card__container">
                    <div class="codeminers-v2-portfolio-widget__flip-card__front">
                        <img src="/assets/images/portfolio-widget/brompton-bicyle.jpg" alt="image-one">
                        <div class="codeminers-v2-portfolio-widget__flip-card__front__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__front__content__title">
                                <h2>Brompton - Website</h2>
                            </div>
                        </div>
                    </div>
                    <div class="codeminers-v2-portfolio-widget__flip-card__back">
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__close-overlay">
                            
                        </div>
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__title">
                                <h3>Brompton Website Rebuild & Upgrade</h3>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__description">
                                <p>
                                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus
                                    suscipit tortor eget felis porttitor volutpat.
                                </p>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__button">
                                <button>Checkout Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="codeminers-v2-portfolio-widget__grid-item">
            <div class="codeminers-v2-portfolio-widget__flip-card">
                <div class="codeminers-v2-portfolio-widget__flip-card__container">
                    <div class="codeminers-v2-portfolio-widget__flip-card__front">
                        <img src="/assets/images/portfolio-widget/pfa-com.jpg" alt="image-one">
                        <div class="codeminers-v2-portfolio-widget__flip-card__front__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__front__content__title">
                                <h2>PFA - Website</h2>
                            </div>
                        </div>
                    </div>
                    <div class="codeminers-v2-portfolio-widget__flip-card__back">
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__close-overlay">
                            
                        </div>
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__title">
                                <h3>PFA Website Build</h3>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__description">
                                <p>
                                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus
                                    suscipit tortor eget felis porttitor volutpat.
                                </p>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__button">
                                <button>Checkout Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="codeminers-v2-portfolio-widget__grid-item">
            <div class="codeminers-v2-portfolio-widget__flip-card">
                <div class="codeminers-v2-portfolio-widget__flip-card__container">
                    <div class="codeminers-v2-portfolio-widget__flip-card__front">
                        <img src="/assets/images/portfolio-widget/fullers.jpg" alt="image-one">
                        <div class="codeminers-v2-portfolio-widget__flip-card__front__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__front__content__title">
                                <h2>Fullers - Audit</h2>
                            </div>
                        </div>
                    </div>
                    <div class="codeminers-v2-portfolio-widget__flip-card__back">
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__close-overlay">
                            
                        </div>
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__title">
                                <h3>Fullers Sitecore Audit</h3>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__description">
                                <p>
                                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus
                                    suscipit tortor eget felis porttitor volutpat.
                                </p>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__button">
                                <button>Checkout Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="codeminers-v2-portfolio-widget__grid-item">
            <div class="codeminers-v2-portfolio-widget__flip-card">
                <div class="codeminers-v2-portfolio-widget__flip-card__container">
                    <div class="codeminers-v2-portfolio-widget__flip-card__front">
                        <img src="/assets/images/portfolio-widget/distinctive-flooring.jpg" alt="image-one">
                        <div class="codeminers-v2-portfolio-widget__flip-card__front__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__front__content__title">
                                <h2>Distinctive Flooring - Redesign</h2>
                            </div>
                        </div>
                    </div>
                    <div class="codeminers-v2-portfolio-widget__flip-card__back">
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__close-overlay">
                            
                        </div>
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__title">
                                <h3>Distinctive Flooring Website Redesign</h3>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__description">
                                <p>
                                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus
                                    suscipit tortor eget felis porttitor volutpat.
                                </p>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__button">
                                <button>Checkout Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="codeminers-v2-portfolio-widget__grid-item">
            <div class="codeminers-v2-portfolio-widget__flip-card">
                <div class="codeminers-v2-portfolio-widget__flip-card__container">
                    <div class="codeminers-v2-portfolio-widget__flip-card__front">
                        <img src="/assets/images/portfolio-widget/pfa-ios-app.jpg" alt="image-one">
                        <div class="codeminers-v2-portfolio-widget__flip-card__front__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__front__content__title">
                                <h2>PFA - IOS App</h2>
                            </div>
                        </div>
                    </div>
                    <div class="codeminers-v2-portfolio-widget__flip-card__back">
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__close-overlay">
                            
                        </div>
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__title">
                                <h3>PFA IOS App</h3>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__description">
                                <p>
                                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus
                                    suscipit tortor eget felis porttitor volutpat.
                                </p>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__button">
                                <button>Checkout Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="codeminers-v2-portfolio-widget__grid-item">
            <div class="codeminers-v2-portfolio-widget__flip-card">
                <div class="codeminers-v2-portfolio-widget__flip-card__container">
                    <div class="codeminers-v2-portfolio-widget__flip-card__front">
                        <img src="/assets/images/portfolio-widget/ICAEW.png" alt="image-one">
                        <div class="codeminers-v2-portfolio-widget__flip-card__front__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__front__content__title">
                                <h2>ICAEW</h2>
                            </div>
                        </div>
                    </div>
                    <div class="codeminers-v2-portfolio-widget__flip-card__back">
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__close-overlay">
                            
                        </div>
                        <div class="codeminers-v2-portfolio-widget__flip-card__back__content">
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__title">
                                <h3>ICAEW</h3>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__description">
                                <p>
                                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus
                                    suscipit tortor eget felis porttitor volutpat.
                                </p>
                            </div>
                            <div class="codeminers-v2-portfolio-widget__flip-card__back__content__button">
                                <button>Checkout Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery Two Section End -->

{% include 'components/common/footer.njk' %}