{% include 'components/common/header.njk' %}

<!-- Slider Within Slider Section Start -->
<section class="sws-section">
    <div class="sws-section__header">
        <div class="sws-section__title">
            <div class="sws-section__title__left-vis"></div>
            <div class="sws-section__title__content">
                <h2>Title Example</h2>
            </div>
            <div class="sws-section__title__right-vis"></div>
        </div>
        <div class="sws-section__sub-title">
            <p>
                Donec sollicitudin molestie malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
            </p>
        </div>
    </div>
    <div class="sws-section__content">
        <div class="sws-section__main-slider">
            <div class="sws-section__main-slider__container">
                <div class="sws-section__main-slider__slides">
                    <div class="sws-section__main-slider__slides__slide">
                        <img src="/assets/images/slider-within-slider/example-one.jpg" alt="example-image-1">
                    </div>
                    <div class="sws-section__main-slider__slides__slide">
                        <img src="/assets/images/slider-within-slider/example-two.jpg" alt="example-image-2">
                    </div>
                    <div class="sws-section__main-slider__slides__slide">
                        <img src="/assets/images/slider-within-slider/example-three.jpg" alt="example-image-3">
                    </div>
                    <div class="sws-section__main-slider__slides__slide">
                        <img src="/assets/images/slider-within-slider/example-four.jpg" alt="example-image-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="sws-section__controls">
            <div class="sws-section__controls__container">
                <div class="sws-section__controls__directional">
                    <div class="sws-section__controls__directional__container">
                        <div class="sws-section__controls__directional__prev">
                            <img src="/assets/images/fontawesome/solid/circle-arrow-left.svg"
                                alt="controls-direction-prev">
                        </div>
                        <div class="sws-section__controls__directional__next">
                            <img src="/assets/images/fontawesome/solid/circle-arrow-right.svg"
                                alt="controls-direction-next">
                        </div>
                    </div>
                </div>
                <div class="sws-section__controls__preview-slider">
                    <div class="sws-section__controls__preview-slider__container">
                        <div class="sws-section__controls__preview-slider__slides">
                            <div class="sws-section__controls__preview-slider__slides__slide">
                                <img src="/assets/images/slider-within-slider/example-one.jpg" alt="example-image-1"
                                    data-slide-id="0">
                                <p>Image One</p>
                            </div>
                            <div class="sws-section__controls__preview-slider__slides__slide">
                                <img src="/assets/images/slider-within-slider/example-two.jpg" alt="example-image-1"
                                    data-slide-id="1">
                                <p>Image Two</p>
                            </div>
                            <div class="sws-section__controls__preview-slider__slides__slide">
                                <img src="/assets/images/slider-within-slider/example-three.jpg" alt="example-image-1"
                                    data-slide-id="2">
                                <p>Image Three</p>
                            </div>
                            <div class="sws-section__controls__preview-slider__slides__slide">
                                <img src="/assets/images/slider-within-slider/example-four.jpg" alt="example-image-1"
                                    data-slide-id="3">
                                <p>Image Four</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slider Within Slider Section End -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% include 'components/common/theme-toggler-two.njk' %}

{% include 'components/common/footer.njk' %}