</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/assets/js/tiny-slider-min.js"></script>
<script src="/assets/js/slider-within-slider.min.js"></script>
<script src="/assets/js/theme-toggler.min.js"></script>
<script src="/assets/js/application.min.js"></script>

</body>

</html>