<div class="theme-toggler">
    <div class="theme-toggler__min">
        <div class="theme-toggler__min__open-close">
            <img src="/assets/images/fontawesome/solid/angles-left.svg" alt="min-max toggle">
        </div>
        <div class="theme-toggler__min__info">
            <div class="theme-toggler__min__info__title">
                <p>Theme Options</p>
            </div>
            <div class="theme-toggler__min__info__open">
                <img src="/assets/images/fontawesome/solid/circle-plus.svg" alt="">
            </div>
        </div>
    </div>
    <div class="theme-toggler__min-close">
        <img src="/assets/images/fontawesome/solid/xmark.svg" alt="close min theme toggler">
    </div>
    <div class="theme-toggler__content">
        <div class="theme-toggler__content__header">
            <div class="theme-toggler__content__header__title">
                <h1>Theme Toggler</h1>
            </div>
        </div>

        <div class="theme-toggler__content__options">
            <ul class="theme-toggler__content__options_list">
                <li class="theme-toggler__content__options__list__item">Mountains</li>
                <li class="theme-toggler__content__options__list__item">Planets</li>
                <li class="theme-toggler__content__options__list__item">Plants</li>
                <li class="theme-toggler__content__options__list__item">Waterfalls</li>
            </ul>
        </div>
    </div>
</div>