<div class="bs-theme-toggler-two bs-theme-toggler-two--transition">
    <div class="bs-theme-toggler-two__close">
        <img src="/assets/images/fontawesome/solid/xmark.svg" alt="">
    </div>
    <div class="bs-theme-toggler-two__popup">
        <div class="bs-theme-toggler-two__popup__message">
            <p>Try a New Theme?</p>
        </div>
        <div class="bs-theme-toggler-two__popup__options">
            <p class="bs-theme-toggler-two__popup__options__current">Default</p>

            <label>Try a new theme?</label>
            <select name="themes" id="bs-theme-toggler-two-theme-options">
                <option value=""></option>
                <option value="ThemeOne">Theme One</option>
                <option value="ThemeTwo">Theme Two</option>
                <option value="ThemeThree">Theme Three</option>
                <option value="ThemeFour">Theme Four</option>
                <option value="Default">Default</option>
            </select>

            <button class="bs-theme-toggler-two__popup__options__submit">Apply</button>
        </div>
    </div>

    <div class="bs-theme-toggler-two__robot">
        <img src="/assets/images/theme-toggler-two/Robot-clipart-removebg-preview.png" alt="">
    </div>
</div>