<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Brandon Slater - components</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            line-height: 1;
            font-size: 16px;
            font-weight: 600;
            background-color: #fff;
            font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
        }

        div {
            width: 85%;
            border-spacing: 0;
            margin: 60px auto;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            position: relative;
            margin: 0;
            padding: 0;
            border: 2px solid #fff;
            background-color: #f6f6f6;
            transition: background-color 420ms ease;
        }

        h1 {
            font-size: 32px;
            margin: 0 0 60px;
            text-align: center;
        }

        h1 img {
            width: 200px;
        }

        a {
            color: #111;
            display: block;
            padding: 14px 18px;
            text-decoration: none;
            text-transform: capitalize;
        }

        li:hover {
            background-color: #f2f2f2;
        }

        @media (max-width:767px) {
            h1 {
                font-size: 24px;
            }

            li {
                border: 0;
                margin: 0 0 12px;
            }

            div {
                width: 90%;
            }
        }
    </style>
</head>

<body>
    <h2>Modals</h2>
    <ul>
        <li class="link">
            <a href="/components/modal-one.html">Example One</a>
        </li>
    </ul>

    <h2>Cards</h2>
    <ul>
        <li class="link">
            <a href="/components/card-one-section.html">Example One</a>
        </li>
    </ul>

    <h2>Galleries</h2>
    <ul>
        <li class="link">
            <a href="/components/gallery-one-section.html">Example One</a>
        </li>

        <li class="link">
            <a href="/components/gallery-two-section.html">Example Two</a>
        </li>
    </ul>

    <h2>Sliders</h2>
    <h3>Feature Tabs</h3>
    <ul>
        <li class="link">
            <a href="/components/slider-feature-tabs.html">Example One</a>
        </li>
    </ul>

    <h3>Slider Within Slider</h3>
    <ul>
        <li class="link">
            <a href="/components/slider-within-slider-section.html">Example One</a>
        </li>

        <li class="link">
            <a href="">Example Two</a>
        </li>
    </ul>

    <h3>Portfolio Widget</h3>
    <ul>
        <li class="link">
            <a href="/components/portfolio-widget-hover.html">Hover</a>
        </li>

        <li class="link">
            <a href="/components/portfolio-widget-click.html">Click - v2</a>
        </li>

        <li class="link">
            <a href="/components/portfolio-widget-click-v3.html">Click - v3</a>
        </li>

        <li class="link">
            <a href="/components/portfolio-widget-click-v4.html">Click - v4</a>
        </li>

    </ul>

</body>

</html>